h1 {
  text-align: center;
  font-family: roboto;
  font-weight: 700;
  color: #ec9f05;
  margin: auto;
}

.header {
  background-color: #f55536;
  height: 80px;
  display: flex;
  align-items: center;
}

.container {
  background-color: #eff6e0;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
}

p {
  display: flex;
  top: -40px;
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  font-family: Arial;
  color: #f55536;
  letter-spacing: -5px;
}

img {
  display: block;
  margin: auto;
  border-radius: 5px;
  border-color: #aec3b0;
  border-style: solid;
}

audio {
  margin: auto;
  height: 2em;
  width: 25%;
}

hr {
  color: #aec3b0;
  width: 50%;
  height: 5px;
  background-color: #aec3b0;
  border-radius: 5px;
  border-style: hidden;
}

h2 {
  text-align: center;
  font-family: roboto;
  font-weight: 700; /* 500 is normal text, 700 is bold text for Helvetica */
  font-size: big;
  color: #eff6e0;
  margin: auto;
  margin-top: 5%;
  display: table;
  border-style: solid;
  border-color: #f4845f;
  background-color: #f4845f;
  border-radius: 8px;
}

body {
  margin: auto;
  padding: 0;
  background-image: url("img/interlacement.png");
  background-color: #aec3b0;
}

dl {
  max-width: 25%;
  margin: auto;
  text-align: justify;
  font-size: small;
  font-family: helvetica;
  color: #1f2232;
  display: block;
}

ul {
  max-width: 80%;
  width: 100%;
  margin: auto;
  text-align: justify;
  font-size: small;
  font-family: helvetica;
  color: #1f2232;
}

ol {
  max-width: 70%;
  margin: auto;
  text-align: justify;
  font-size: small;
  font-family: helvetica;
  color: #1f2232;
}

li {
  max-width: 50%;
  margin: auto;
  text-align: justify;
  font-size: small;
  font-family: helvetica;
  color: #1f2232;
}

a {
  font-family: roboto;
  font-weight: 300;
  font-style: bold;
  font-size: large;
  text-align: center;
  text-decoration-line: none;
  display: block;
  margin: auto;
  border-style: solid;
  border-color: #f55536;
  border-radius: 5px;
  background-color: #f55536;
  margin-bottom: 30px;
}

a:link {
  color: #ec9f05;
}

a:visited {
  color: #ec9f05;
}

a:hover {
  color: #eff6e0;
  border-color: #f4845f;
  background-color: #f4845f;
}

.button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

/* Roboto font */
@font-face {
  font-family: roboto;
  src: url(Roboto-Light) format("truetype");
  font-weight: 300;
  font-style: normal;
}

div {
  font-family: roboto;
}

/* Roboto font (Italic) */
@font-face {
  font-family: roboto;
  src: url(Roboto-LightItalic) format("truetype");
  font-weight: 300;
  font-style: italic;
}

div {
  font-family: roboto;
}

/* Helvetica font */
@font-face {
  font-family: helvetica;
  src: url(HelveticaforTarget.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

div {
  font-family: helvetica;
}

/* Helvetica font (BOLD) */
@font-face {
  font-family: helvetica;
  src: url(HelveticaforTarget-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
}

div {
  font-family: helvetica;
}
