/* Peru for heading, Burlywood for descriptions, palegoldenrod for borders and outlines */

h1 {
  text-align: center;
  font-family: roboto;
  font-weight: 700;
  color: peru;
}

:where(h2, h3, h4, h5, h6) {
  text-align: center;
  font-family: helvetica;
  font-weight: 700; /* 500 is normal text, 700 is bold text for Helvetica */
  font-size: medium;
  color: peru;
  margin: 0 auto;
  display: table;
  border-style: solid;
  border-color: palegoldenrod;
  border-radius: 5px;
  background-color: palegoldenrod;
}

body {
  background-color: beige;
  margin: 40px;
}

dl {
  max-width: 25%;
  margin: 0 auto;
  text-align: justify;
  font-size: small;
  font-family: arial;
  color: burlywood;
}

ul {
  max-width: 50%;
  margin: 0 auto;
  text-align: justify;
  font-size: small;
  font-family: arial;
  color: burlywood;
  list-style-position: inside;
  padding-left: 10px;
}

ol {
  max-width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: small;
  font-family: arial;
  color: burlywood;
  list-style-position: outside;
  padding-left: 0;
}

li {
  max-width: 60%;
  margin: 0 auto;
  text-align: justify;
  font-size: small;
  font-family: arial;
  color: burlywood;
  list-style-position: inside;
  padding-left: 0;
}

a {
  font-family: roboto;
  font-weight: 300;
  font-style: bold;
  font-size: medium;
  text-align: center;
  text-decoration-line: none;
  display: table;
  margin: 0 auto;
  border-style: solid;
  border-color: palegoldenrod;
  border-radius: 5px;
  background-color: palegoldenrod;
}

a:link {
  color: peru;
}

a:visited {
  color: peru;
}

a:hover {
  color: beige;
}

.button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

/* Roboto font */
@font-face {
  font-family: roboto;
  src: url(Roboto-Light) format("truetype");
  font-weight: 300;
  font-style: normal;
}

div {
  font-family: roboto;
}

/* Roboto font (Italic) */
@font-face {
  font-family: roboto;
  src: url(Roboto-LightItalic) format("truetype");
  font-weight: 300;
  font-style: italic;
}

div {
  font-family: roboto;
}

/* Helvetica font */
@font-face {
  font-family: helvetica;
  src: url(HelveticaforTarget.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

div {
  font-family: helvetica;
}

/* Helvetica font (BOLD) */
@font-face {
  font-family: helvetica;
  src: url(HelveticaforTarget-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
}

div {
  font-family: helvetica;
}
